<div class="container-fluid gradient-background" style="height: 100vh;">
  <h1 class="d-flex justify-content-center mt-3 mb-3">The Pet Project</h1>

  <!--<div class="container-fluid filter-box">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dog">
      <label class="form-check-label" for="animal_dog">Dog</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="cat">
      <label class="form-check-label" for="animal_cat">Cat</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="long_fur">
      <label class="form-check-label" for="long_fur">long fur</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="loud">
      <label class="form-check-label" for="loud">loud</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="introverted">
      <label class="form-check-label" for="introverted">introverted</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="intelligent">
      <label class="form-check-label" for="intelligent">intelligent </label>
    </div>
  </div>-->
    <table class="table table-striped table-bordered border-dark" style="margin-top: 63px;">
        <thead>
      <tr>
          <th scope="col">Animal</th>
          <th scope="col">Breed</th>
          <th scope="col">Characteristics</th>
          <th scope="col">Issues</th>
          <th scope="col">Coats</th>
          <th scope="col">Size (in cm)</th>
          <th scope="col"> 
            <div class="form-check form-check-inline">
              <button type="button" class="btn btn-dark mb-2 gradient-add-button" style="margin-top: 15%;" data-bs-toggle="modal" data-bs-target="#addPetModal">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets">
          <td scope="row">{{ pet.animal }}</td>
          <td scope="row">{{ pet.breed }} </td>
          <td scope="row">{{ pet.characteristics }} </td>
          <td scope="row">{{ pet.issues }}</td>
          <td scope="row">{{ pet.coats }} </td>
          <td scope="row">{{ pet.size }}</td>
  
          <td scope="row">
            <button type="button" class="btn btn-primary me-3 align-button" data-bs-toggle="modal" data-bs-target="#editPetModal" (click)="getPetById(pet.id!)">
                <i class="bi bi-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger align-button" data-bs-toggle="modal" data-bs-target="#deletePetModal" (click)="getPetById(pet.id!)">
                <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="modal fade" id="addPetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPetLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addPetModal">Add Pet</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="addPet.reset()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addPet" (ngSubmit)="clickAddPet(addPet.value); addPet.reset()">
                    <div class="mb-3">
                        <label for="animal" class="form-label">Animal</label>
                        <input id="animal" class="form-control" type="text" formControlName="animal">
                    </div>
                    <div class="mb-3">
                        <label for="breed" class="form-label">Breed</label>
                        <input id="breed" class="form-control" type="text" formControlName="breed">
                    </div>
                    <div class="mb-3">
                      <label for="characteristics" class="form-label">Characteristics</label>
                      <input id="characteristics" class="form-control" type="text" formControlName="characteristics">
                    </div>
                      <div class="mb-3">
                        <label for="issues" class="form-label">Issues</label>
                        <input id="issues" class="form-control" type="text" formControlName="issues">
                      </div>
                      <div class="mb-3">
                        <label for="coats" class="form-label">Coats</label>
                        <input id="coats" class="form-control" type="text" formControlName="coats">
                      </div>
                        <div class="mb-3">
                          <label for="size" class="form-label">Size in cm</label>
                          <input id="size" class="form-control" type="text" formControlName="size">
                        </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="long_fur" formControlName="long_fur">
                        <label class="form-check-label" for="long_fur">
                          Long fur
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="loud" formControlName="loud"  checked>
                        <label class="form-check-label" for="loud">
                          Loud
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="introverted" formControlName="introverted"  checked>
                        <label class="form-check-label" for="introverted">
                          Introverted
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="intelligent" formControlName="intelligent">
                        <label class="form-check-label" for="intelligent">
                          Intelligent
                        </label>
                      </div>
                    <div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
                      <button type="button" class="btn btn-secondary me-2" style="margin-left: 1%;" data-bs-dismiss="modal" (click)="addPet.reset()">Cancel</button>
                    </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  
    <div class="modal fade" id="editPetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editPetLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editPropertyModal">Edit Property</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="editPet.reset()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editPet" (ngSubmit)="clickEditPet(editPet.value); editPet.reset()">
                    <div class="mb-3">
                        <label for="animal" class="form-label">Animal</label>
                        <input id="animal" class="form-control" type="text" formControlName="animal">
                    </div>
                    <div class="mb-3">
                        <label for="breed" class="form-label">Breed</label>
                        <input id="breed" class="form-control" type="text" formControlName="breed">
                    </div>
                    <div class="mb-3">
                      <label for="characteristics" class="form-label">Characteristics</label>
                      <input id="characteristics" class="form-control" type="text" formControlName="characteristics">
                    </div>
                      <div class="mb-3">
                        <label for="issues" class="form-label">Issues</label>
                        <input id="issues" class="form-control" type="text" formControlName="issues">
                      </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-secondary me-2" style="margin-left: 1%;" data-bs-dismiss="modal" (click)="editPet.reset()">Cancel</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
  
    <div class="modal fade" id="deletePetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletePetLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deletePetModal">Delete Pet</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{ pet.breed }}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deletePet(pet.id!)">Delete</button>
                <button type="button" class="btn btn-secondary" style="margin-left: 1%;"  data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
    </div>
  </div>

  
  